<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>info</key>
	<dict>
		<key>name</key>
		<string>Luma's Repository</string>
		<key>maintainer</key>
		<string>luma@smth</string>
		<key>contact</key>
		<string>stubma@163.com</string>
		<key>url</key>
		<string>http://lumaqq.linuxsir.org</string>
		<key>category</key>
		<string>路马软件</string>
		<key>description</key>
		<string>这些软件来自于luma@smth!</string>
	</dict>
	<key>packages</key>
	<array>
		<dict>
			<key>bundleIdentifier</key>
			<string>edu.tsinghua.LumaQQ</string>
			<key>name</key>
			<string>LumaQQ</string>
			<key>version</key>
			<string>200804262300</string>
			<key>contact</key>
			<string>stubma@163.com</string>
			<key>url</key>
			<string>http://lumaqq.linuxsir.org/main/iPhoneEdition.html</string>
			<key>location</key>
			<string>http://lumaqq.linuxsir.org/blog/LumaQQ4iPhone_200804262300.zip</string>
			<key>size</key>
			<string>1465506</string>
			<key>description</key>
			<string>LumaQQ是一个多平台的QQ客户端, 现在是轮到iPhone/iPod Touch的时候了!</string>
			<key>scripts</key>
			<dict>
				<key>install</key>
				<array>
					<array>
						<string>CopyPath</string>
						<string>app/</string>
						<string>/Applications</string>
					</array>
					<array>
						<string>CopyPath</string>
						<string>app/LumaQQ.app/Default_LumaQQ.png</string>
						<string>/System/Library/CoreServices/SpringBoard.app</string>
					</array>
					<array>
						<string>CopyPath</string>
						<string>app/LumaQQ.app/FSO_LumaQQ.png</string>
						<string>/System/Library/CoreServices/SpringBoard.app</string>
					</array>
					<array>
						<string>CopyPath</string>
						<string>app/LumaQQ.app/Default_LumaQQ_Message.png</string>
						<string>/System/Library/CoreServices/SpringBoard.app</string>
					</array>
					<array>
						<string>CopyPath</string>
						<string>app/LumaQQ.app/FSO_LumaQQ_Message.png</string>
						<string>/System/Library/CoreServices/SpringBoard.app</string>
					</array>
				</array>
				<key>update</key>
				<array>
					<array>
						<string>CopyPath</string>
						<string>app/</string>
						<string>/Applications</string>
					</array>
					<array>
						<string>CopyPath</string>
						<string>app/LumaQQ.app/Default_LumaQQ.png</string>
						<string>/System/Library/CoreServices/SpringBoard.app</string>
					</array>
					<array>
						<string>CopyPath</string>
						<string>app/LumaQQ.app/FSO_LumaQQ.png</string>
						<string>/System/Library/CoreServices/SpringBoard.app</string>
					</array>
					<array>
						<string>CopyPath</string>
						<string>app/LumaQQ.app/Default_LumaQQ_Message.png</string>
						<string>/System/Library/CoreServices/SpringBoard.app</string>
					</array>
					<array>
						<string>CopyPath</string>
						<string>app/LumaQQ.app/FSO_LumaQQ_Message.png</string>
						<string>/System/Library/CoreServices/SpringBoard.app</string>
					</array>
				</array>
				<key>uninstall</key>
				<array>
					<array>
						<string>RemovePath</string>
						<string>/Applications/LumaQQ.app</string>
					</array>
					<array>
						<string>RemovePath</string>
						<string>/var/root/Library/LumaQQ</string>
					</array>
					<array>
						<string>RemovePath</string>
						<string>/System/Library/CoreServices/SpringBoard.app/Default_LumaQQ.png</string>
					</array>
					<array>
						<string>RemovePath</string>
						<string>/System/Library/CoreServices/SpringBoard.app/FSO_LumaQQ.png</string>
					</array>
					<array>
						<string>RemovePath</string>
						<string>/System/Library/CoreServices/SpringBoard.app/Default_LumaQQ_Message.png</string>
					</array>
					<array>
						<string>RemovePath</string>
						<string>/System/Library/CoreServices/SpringBoard.app/FSO_LumaQQ_Message.png</string>
					</array>
				</array>
			</dict>
			<key>category</key>
			<string>路马软件</string>
		</dict>
	</array>
</dict>
</plist>
